/* set box model to border-box */
html {
    box-sizing: border-box;
    max-width: 1500px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Overpass', sans-serif;
}

.hero-screen {
    background-color: gray;
    width: 100%;
    height: 500px;
    margin: 50px 0 25px 0;
}

.header, .main, footer {
    text-align: center;
}

.body-question {
    background-color: gray;
}

.header-question {
    width: 100%;
    padding: 10px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.header-question > h1 {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

.header-question > h2 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.question-count, .score {
    margin: 10px;
}

.question-score {
    width: 100%;
    background-color: darkgrey;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.title {
    font-style: italic;
}

.answer-options {
    border: none;
    margin-bottom: 20px;
}

.main-answer, .main-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    
}

.main-question .answer-area {
    text-align: left;
}

.question-area, .answer-area {
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.answer-area {
    background-color: lightgray;
    text-align: center;
}

.book-cover {
    flex-grow: 0;
    width: 100px;
}

@media screen and (min-width:600px) {
    .main-answer, .main-question {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: white;
        min-height: 400px;
    }

    .question-area, .answer-area {
        width: 50%;
        margin: 20px;
        padding: 20px;
    }
}
