html {
    box-sizing: border-box;
   /* max-width: 1500px;*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Overpass', sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Andromeda_Collides_Milky_Way.jpg/512px-Andromeda_Collides_Milky_Way.jpg");
    /* image via Wikimedia Commons https://commons.wikimedia.org/wiki/File:Andromeda_Collides_Milky_Way.jpg */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    width: 100%;
}

.body-start-finish-screen {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.main-start-finish {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.main-question-answer {
    background-color: rgba(255, 243, 224, .5);
    border-bottom: 5px solid #29B6F6;
    width: 100%;
    padding-bottom: 20px;
}

.question-answer-combined {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.header-start-finish {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5px;
}

.header-question-answer {
    align-self: flex-start;
    margin: 10px; 
}

h1, .subhead, .intro-copy {
    text-shadow:    -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;
}

h1 {
    font-family: "Bungee Inline", cursive;
    font-size: 1.85em;
    color: #FBEEE6;
    margin: 0;
}

.subhead {
    font-size: 1.25em;
    color: #FBEEE6;
    margin: 0;
}

.intro-copy {
    text-align: center;
    font-size: 1.2em;
    color: #FBEEE6;
    width: 65%;
}

.question-count, .score {
    margin: 10px;
}

.count-score {
    width: 100%;
    background-color: #29B6F6;
    padding: 2px 5px;
    margin: 0;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}


.question-area, .answer-area {
    width: 85%;
    padding: 20px 0 20px 0;
}

.title {
    font-style: italic;
}

.answer-option-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.answer-options {
    border: none;
    margin-bottom: 20px;
    text-align: left;
}

button[type="submit"] {
    background-color: #29B6F6;
    border: none;
    box-shadow: 1px 1px 1px rgba(251, 238, 230, .25),
                -1px -1px 1px rgba(251, 238, 230, .25),
                -1px 1px 1px rgba(251, 238, 230, .25),
                1px -1px 1px rgba(251, 238, 230, .25);
}

.source-link:link, .source-link:visited, .source-link:active {
    color: #1A237E;
}

.source-link:hover, .source-link:focus {
    text-decoration: underline wavy #1A237E;
}

.book-cover {
    flex-grow: 0;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top: 25%;
    text-align: center;
}

.footer address, .footer a:link, .footer a:visited, .footer a:active {
    font-size: .9em;
    font-style: inherit;
    color: #FBEEE6; 
}

.footer a:hover, .footer a:focus {
    text-shadow: 2px 2px 2px #873600;
}

@media screen and (min-width: 600px) {
    
    .question-answer-combined {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        min-height: 300px;
    }

    .question-area, .answer-area {
        width: 50%;
        margin: 20px;
        padding: 20px 40px 20px 40px;
    }  
}

@media screen and (min-width: 1500px) {
    body {
        width: 1400px;

    }
    
    .body-start-finish-screen {
        width: 1400px;
    }
}


